{% extends 'blog_base.html' %}

{% block title %}{% endblock %}

{# If you want to handle 'header' 'main' 'footer' by yout self use 'container' block. #}

{% block container-header %}
	<h1>
	{% if post.status == 'd' %}(BORRADOR){% endif %}
	{{ post.title }}
	</h1><br />
	<h5>{% if post.status == 'd' %}
		{{ post.publication_date }}
		{% else %}
		{{ post.last_edition_date }}
		{% endif %}
	</h5>	
{% endblock %}

{% block main %}
{% include "dapricot/blog/fragments/post_full.html" %}
{% endblock %}
