[submodule "dapricot/store"]
	path = dapricot/store
	url = https://github.com/softapr/django_apricot_store.git
[submodule "dapricot_example"]
	path = dapricot_example
	url = https://github.com/softapr/django_apricot_example.git
