include LICENSE
include README.rst
recursive-include dapricot/core/static *
recursive-include dapricot/core/templates *
recursive-include dapricot/blog/templates *
recursive-include dapricot/pages/templates *