<article>
	<section>
	<a href="{%url 'dapricot_blog:post' day=post.publication_date.day month=post.publication_date.month year=post.publication_date.year slug=post.slug %}"><h4>{{ post.title }}</h4></a>
	<p>
	{{ post.get_preview }} (...)
	</p>
	</section>
	<aside>
		<h6 class="icon-calendar"> {{ post.publication_date.date }}</h6>
		<hr />

		<h6 class="icon-list">
		{% if filter.0 == 'category' %}
		Tags:
		{% for tag in post.tags.all %}
		<a href="{% url 'dapricot_blog:filter_posts' filter_name='tag' value=tag.slug %}">{{ tag.name }}</a>,
		{% endfor %}
		{% elif filter.0 == 'tag' %}
		Categoria:
		<a href="{% url 'dapricot_blog:filter_posts' filter_name='category' value=post.category.slug %}">{{ post.category }}</a>
		{% else %}
		Categoria:
		<a href="{% url 'dapricot_blog:filter_posts' filter_name='category' value=post.category.slug %}">{{ post.category }}</a>
		</h6>
		<hr/>
		<h6 class="icon-list">
		Tags:
		{% for tag in post.tags.all %}
		<a href="{% url 'dapricot_blog:filter_posts' filter_name='tag' value=tag.slug %}">{{ tag.name }}</a>,
		{% endfor %}
		{% endif %}
		</h6>
		
	</aside>
</article>