{% url 'dablog:post' day=post.publication_date.day month=post.publication_date.month year=post.publication_date.year slug=post.slug as p_url%}

{% with p_permalink=request.scheme|add:"://"|add:request.get_host|add:p_url %}
<h4>Compartir:</h4>
<hr/>
<ul class="menu-horizontal">
<li><a href="https://www.facebook.com/sharer.php?u={{ p_permalink }}" class="button-secondary icon-facebook"></a></li>
<li><a href="https://twitter.com/intent/tweet?url={{ p_permalink }}&text={{ post.title }}&hashtags=orishikudotcom" class="button-secondary icon-twitter"></a></li>
<li><a href="http://pinterest.com/pin/create/link/?url={{ p_permalink }}" class="button-secondary icon-pinterest"></a></li>
<li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ p_permalink }}&title={{ post.title }}&summary={{ post.get_preview }}" class="button-secondary icon-linkedin"></a></li>
</ul>
{% endwith %}