{% extends 'blog_base.html' %}

{% block title %}{% endblock %}

{# If you want to handle 'header' 'main' 'footer' by yout self use 'container' block. #}

{% block main  %}
<article class="title">
	{% if filter_name == 'category' %}
	<h1>Categorias</h1>
	{% elif filter_name == 'tag' %}
	<h1>Etiquetas</h1>
	{% endif %}
</article>
	{% if filter_list.count > 0%}
		{% for filter in filter_list%}
<article>
	<section>
	<h4><a href="{% url 'dapricot_blog:filter_posts' filter_name=filter_name value=filter.slug %}">{{ filter.name }}</a></h4>
	</section>
</article>
		{% endfor %}	
	{% else %}
<article>
	<section>
		<h4>No {{ filter }} yet</h4>
	</section>
</article>
	{% endif %}
{% endblock %}

